// Styling the sections in the menu

@use "../Theme";

header.navigation {
    position: fixed;
    height: 100%;
    width: Theme.$menu-size;
    margin-left: 100%;
    background: Theme.theme-background-color(secondary);
    transition: box-shadow Theme.$menu-speed;
    z-index: 1;
}

main[shifted] header.navigation {
    box-shadow: -15px 0px 25px Theme.shadow(0.3);
}