// Styling for the About section

@use "../../Theme";

section#about {
    box-shadow: 0 -40px 30px 0px Theme.shadow(0.5);

    @include Theme.for-ie {
        .about-me {
            min-height: 1px;

            img.me {
                min-height: 1px;
            }
        }
    }
    img.me {
        width: 100%;
        height: auto;
        border-radius: 50%;
        -webkit-user-drag: none;
        user-select: none;
    }

    .flavor {
        @include Theme.drawn-in;
    }

    .qualities {
        > * {
            @include Theme.drawn-in;
        }

        .icon {
            height: 3rem;
            width: auto;
            transform: scale(1.0, 1.0);
            transition: transform 0.5s;

            &:hover {
                transform: scale(1.25, 1.25);
            }
        }

        .icon, .quality {
            margin-bottom: 0.75rem;
        }

        .desc {
            padding: 0.25rem;
        }
    }
}