// Styling for <main> tag

@use "../Theme";

main {
    position: relative;
    right: 0;
    width: 100%;
    height: 100%;
    font-family: Theme.font-family();
    transition: right Theme.$menu-speed;
    overflow: hidden;

    &[shifted] {
        right: Theme.$menu-size;
    }

    .scroll {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    
        @include Theme.for-ie {
            overflow: hidden !important;
        }
    }
}
