// Styling for font sizes

@use '../Theme.scss';

@each $i, $sizes in Theme.$font-sizes {
    .is-size-#{$i} {
        @include Theme.font-size($i);
    }
}

@each $name, $weight in Theme.$font-weights {
    .is-#{$name}-weight {
        font-weight: $weight;
    }
}

.is-italic {
    font-style: italic;
}

.is-uppercase {
    text-transform: uppercase;
}

.is-sentence {
    text-transform: none;
}

.is-justified {
    text-align: justify;
}

.is-center-aligned {
    text-align: center;
}

.is-left-aligned {
    text-align: left;
}

.is-right-aligned {
    text-align: right;
}

.is-quote {
    padding-left: 1rem;
    border-left: 0.25rem solid Theme.theme-background-color(primary);
}

.is-body {
    line-height: 1.5;
}

.is-handwriting {
    font-family: Theme.font-family(handwriting);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

// Typography implementation (for future use?)
.text-display-4 {
    font-weight: Theme.font-weight(light);
    letter-spacing: -0.01em;
    line-height: 112px;

    @include Theme.font-size(1);
}

.text-display-3 {
    font-weight: Theme.font-weight(normal);
    letter-spacing: -0.005em;
    line-height: 58px;

    @include Theme.font-size(2);
}

.text-display-2 {
    font-weight: Theme.font-weight(normal);
    letter-spacing: 0;
    line-height: 48px;

    @include Theme.font-size(3);
}

.text-display-1 {
    font-weight: Theme.font-weight(normal);
    letter-spacing: 0;
    line-height: 40px;

    @include Theme.font-size(4);
}

.text-headline {
    font-weight: Theme.font-weight(normal);
    letter-spacing: 0;
    line-height: 32px;

    @include Theme.font-size(5);
}

.text-title {
    font-weight: Theme.font-weight(semi-bold);
    letter-spacing: 0.005em;
    line-height: 26px;

    @include Theme.font-size(6);
}

.text-subtitle {
    font-weight: Theme.font-weight(normal);
    letter-spacing: 0.01em;
    line-height: 24px;

    @include Theme.font-size(7);
}

.text-body-2 {
    font-weight: Theme.font-weight(semi-bold);
    letter-spacing: 0.01em;
    line-height: 24px;

    @include Theme.font-size(8);
}

.text-body-1 {
    font-weight: Theme.font-weight(normal);
    letter-spacing: 0.01em;
    line-height: 20px;

    @include Theme.font-size(8);
}

.text-caption {
    font-weight: Theme.font-weight(normal);
    letter-spacing: 0.02em;
    line-height: 17px;

    @include Theme.font-size(9);
}

.text-link {
    font-weight: Theme.font-weight(normal);

    @include Theme.font-size(8);
}

.text-button {
    font-weight: Theme.font-weight(normal);
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;

    @include Theme.font-size(8);
}